html, body {
    min-height: 950px;
    min-width: 320px;
    margin: 0; 
    padding: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    overscroll-behavior: none;
    box-sizing: border-box;
    background: linear-gradient(45deg, rgba(66, 180, 250, 0.5) 0%, rgba(60, 250, 200, 0.5) 100%);
}

::selection { background: transparent; } 
::-moz-selection { background: transparent; }

.center {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 1.75rem;
}

.content {
    width: 90%;
    max-width: 800px;
    padding: 50px 0px;
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0px 15px 15px 0.15px rgba(0, 0, 0, 0.05);
}

input, button {
    font-size: 14px;
}

input {
    display: inline-block;
    text-align: center;
    width: 30%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #999;
    background: #f8f8f8;
    margin: 0 10px 25px 10px;
}

input:focus {

    background: rgba(0, 0, 0, 0.1);
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.5);
    outline: none;
    transition: 0.3s ease;
}

::placeholder {
    color: #000;
    opacity: 0.7;
}

input:focus::placeholder {
    color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
    
    align-items: center;

    background-color: #4285F4;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;

    height: 50px;
    width: 60%;
    margin-top: 10px;

    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;

}

.switch-toggle {
    text-align: center;
    padding: 30px; 
    border-radius: 20px; 
    margin: auto; 
    width: 60%;
}

.switch-toggle input {
    position: absolute;
    opacity: 0;
}

.switch-toggle input + label {
    padding: 15px;
    border-radius: 25px; 
    cursor: pointer;
    white-space: nowrap;
}

.switch-toggle input:checked + label {
    background: #4285F4;
    color: #fff;
    transition: all .4s ease;
}

.cardwrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.card {
    position: relative;
    min-width: 560px;
    height: 356px;

    border: 1px solid #4285F4;
    border-radius: 20px;
    transform-origin: center;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.5s ease-in-out;


    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.download {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}